# CS5228 Assignment 1 - EDA, Data Preparation & K-Means

Hello everyone, this assignment notebook covers EDA, Data Preparation & K-Means. There are some code-completion tasks and question-answering tasks in this answer sheet. For code completion tasks, please write down your answer (i.e., your lines of code) between sentences that "Your code starts here" and "Your code ends here". The space between these two lines does not reflect the required or expected lines of code. For answers in plain text, you can refer to [this Markdown guide](https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd) to customize the layout (although it shouldn't be needed).

When you work on this notebook, you can insert additional code cells (e.g., for testing) or markdown cells (e.g., to keep track of your thoughts). However, before the submission, please remove all those additional cells again. Thanks!

**Important:**
* Rename and save this Jupyter notebook as **cs5228_a1_YourName_YourNUSNETID.ipynb** (e.g., **cs5228_a1_BobSmith_e12345678.ipynb**) before submission!
* Rename and save the script file *cs5228_a1_script.py* as **cs5228_a1_YourName_YourNUSNETID.py** (e.g., **cs5228_a1_BobSmith_e12345678.py**) before submission!
* Submission deadline is **Thursday, Sep 14, 11.59 pm**. Late submissions will be penalized by 10% for each additional day. Failure to appropriately rename both files will yield a penalty of 1 Point. There is no need to use your full name if it's rather long; it's just  important to easily identify you in Canvas etc.

Please also add your NUSNET and student id in the code cell below. This is just to make any identification of your notebook doubly sure.

In [91]:
student_id = 'A0268269L'
nusnet_id = 'E1101568'

Here is an overview over the tasks to be solved and the points associated with each task. The notebook can appear very long and verbose, but note that a lot of parts provide additional explanations, documentation, or some discussion. The code and markdown cells you are supposed to complete are well, but you can use the overview below to double-check that you covered everything.

* **1 Exploratory Data Analysis (EDA) & Data Preparation (30 Points)**
    * 1.1 Removing "Dirty" Records (6 Points)
    * 1.2 Handling Missing (NaN) Values (6 Points)
    * 1.3 Other Appropriate Data Cleaning / Preprocessing Steps (6 Points)
        * 1.3 a) Appropriate Steps (4 Points)
        * 1.3 b) Additional Considerations (2 Points)
    * 1.4 Handling Categorical Attributes (4 Points)
    * 1.5 Basic Facts about Dataset (8 Points)
* **2 K-Means (20 Points)**
    * 2.1 Performing K-Means "By Hand" (4 Points)
        * 2.1 a) Find Clusters for K=3 (2 Points)
        * 2.1 b) Evaluate the Result (2 Points)
    * 2.2 Initializing Centroids (10 Points)
        * 2.2 a) Implement Initialization of Centroids (6 Points)
        * 2.2 b) Interpreting MaxDist Initialization (2 Points)
        * 2.2 c) Interpreting KMeans++ Initialization (2 Points)
    * 2.3 Questions about K-Means (6 Points)
        * 2.3 a) Empty Cluster (3 Points)
        * 2.3 b) Outlier Detection (3 Points)

## Setting up the Notebook

### Enable Auto-Reload

This ensures that any saved changes to your `.py` file gets automatically reloaded.

In [92]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Enable "Inline Plotting"

In [93]:
%matplotlib inline

### Importing Required Packages

In [94]:
import numpy as np
import pandas as pd

from src.utils import *

**Important:** This notebook also requires you to complete in a separate `.py` script file. This keeps this notebook cleaner and simplifies testing your implementations for us. As you need to rename the file `cs5228_a1.py`, you also need to edit the import statement below accordingly.

In [95]:
from cs5228_a1_HoGuanMengBenjamin_E1101568 import *

---

## 1. Exploratory Data Analysis (EDA) & Data Preparation

### 1.1 Removing "Dirty" Records (6 Points)

Assume that you have been tasked to build a regression model to predict the **resale prices of used cars** in Singapore. To this end, you get a dataset containing information about 15,000 past resale transactions, including the following information about the attributes:

* **listing_id**: Unique ID of the listing; an integer number uniquely assigned to each listing. If this code starts with the letter 'C', it indicates a cancellation of the listing and is this an invalid listing.
* **url**: URL of the website where the listing is posted as string value
* **make**: The make/brand of the car as a string value of a valid car make (e.g., "bmw", "honda", "mazda", "toyota", "mercedes-benz").
* **model**: The model of the car as a string value of a valid car model (e.g., "e250", "outlander", "v60", "x1", "qashqai").
* **manufactured**: The year the car has been manufactured as an integer value.
* **type_of_vehicle**: The type of the car as a string value of a valid vehicle type (e.g., "luxury sedan", "mid-sized sedan", "suv", "hatchback").
* **power**: The power of the engine as an integer value in kW (kilowatt)
* **engine_cap**: Size/capacity of the engine as integer value in cc (cubic centimeter)
* **curb_weight**: the weight of the vehicle including a full tank of fuel and all standard equipment in kg (kilogram)
* **no_of_owners**: Number of previous owners as integer value >= 1 (used cars only).
* **mileage**: Mileage of car as integer value in km (kilometer)
* **price**: Resale price of the car in Singapore dollars.

Let's have a first look at the data:

In [ ]:
df_cars_dirty = pd.read_csv('data/a1-used-cars-resale-dirty.csv')

df_cars_dirty.head()

In [ ]:
### check unique column values
for col in df_cars_dirty.columns:
    unique_data = df_cars_dirty[col].unique()
    print(col, len(df_cars_dirty[col]), len(unique_data))

In [ ]:
### check datatypes
df_cars_dirty.dtypes

In [103]:
### check unique column values
for col in df_cars_dirty.columns:
    unique_data = df_cars_dirty[col].unique()
    print(col, unique_data)

listing_id ['983884' '1026259' '1002033' ... '1019391' '1023024' '996280']
url ['https://www.sgcarmart.com/listing/983884'
 'https://www.sgcarmart.com/listing/1026259'
 'https://www.sgcarmart.com/listing/1002033' ...
 'https://www.sgcarmart.com/listing/1019391'
 'https://www.sgcarmart.com/listing/1023024'
 'https://www.sgcarmart.com/listing/996280']
make ['nissan' 'volkswagen' 'suzuki' 'kia' 'porsche' 'toyota' 'bmw'
 'mercedes-benz' 'mitsubishi' 'skoda' 'volvo' 'honda' 'mclaren' 'ferrari'
 'lexus' 'austin' 'hyundai' 'mazda' 'audi' 'mini' 'infiniti' 'lamborghini'
 'daihatsu' 'jaguar' 'subaru' 'chevrolet' 'maserati' 'ford' 'alfa romeo'
 'peugeot' 'bentley' 'opel' 'land rover' 'seat' 'rolls-royce' 'ssangyong'
 'renault' 'fiat' 'citroen' 'aston martin' 'hummer' 'jeep' 'mercedes'
 'proton' 'mg' 'cupra' 'lotus' 'dodge' 'daimler' 'mitsuoka' 'perodua'
 'cadillac' 'ruf' 'rolls' 'maybach' 'morgan' 'chrysler' 'alpine' 'smart'
 'saab' 'dongfeng' 'maxus' 'international']
model ['qashqai' 'golf' 'vitara' 'picanto' 'cayenne' 'c-hr' 'x4' 'corolla' 'amg'
 'c180' 'attrage' 'octavia' 'harrier' '318i' '630ci' 'wish' 's60' 'cla180'
 'cerato' 'e' '720s' 'outlander' '488' 'ls500' '523i' 't-cross' 'healey'
 'scirocco' 'elantra' 'camry' 'b160' 'e250' 'lancer' 'gs' 'x3' '520i'
 'freed' '316i' 'civic' '3' 'note' '216i' 'a4' 'cooper' 'sylphy' '730li'
 'q50' 'urus' 'jetta' 'b200' 'terios' 'm4' 'crossroad' 'polo' 'vios' 'rx'
 'shuttle' 'voxy' '530i' 'sharan' 'e200' '520d' 'xe' 'vezel' 'boxster'
 'prius' 'avante' 'sf90' 'alphard' '2' 'x1' 'rx-8' 'forester' 'vellfire'
 'jazz' 'gla180' 'carens' 'a180' 'a3' 'cruze' 'aventador' 'es' 'glc250'
 'qx30' '320i' '220i' 'odyssey' 'noah' 'grace' 'passat' 'nx' 'city' 'c200'
 'a250' 'estima' 'x5' 'evolution' 'macan' 'outback' 'activehybrid' '640i'
 'airwave' 'sl350' 'latio' 'previa' 'allion' '528i' 'm5' 'accent' 'coupe'
 'tucson' 'accord' 'q3' 'kodiaq' 'veloster' 'jimny' 'c160' 'quattroporte'
 'stream' 'impreza' 'ist' 'q5' 'mustang' 'rio' 'giulietta' 'q2' 'is' '86'
 '3008' 'm3' 'm2' 'hr-v' 'beetle' '535i' 'fit' 'a6' 'sienta' '5008'
 's400l' 'continental' 'astra' 's320l' 'range' 's350' '135i' 'cls350'
 '420i' 'picnic' 'v40' 'm6' 'x-trail' 'rcz' 'granturismo' 'ghibli' 'leon'
 '911' 'land' 'q60' '630i' 's90' 'a7' 'aqua' 'swift' 'z4' '116i' 'mobilio'
 'one' 'ghost' 'v60' '330e' 'teana' 'touran' 'alpina' '118i' 'sonic'
 'sportsvan' '430i' '530e' 's5' 'stavic' 'discovery' 'grand' 'a200'
 'focus' 'xc60' 'e230' 'cla200' 'slk200' 'xv' 'panamera' 'scenic' 'a5'
 'i30' 'tivoli' '650i' 'yaris' 'stonic' 'sportage' '218i' 'sorento'
 'e-pace' '458' '428i' 'colt' '216d' 'megane' 'cayman' 'f-type' 'gran'
 'cls400' 'glc200' '12c' 'xf' 'b180' 'stinger' 'axela' 'crown' 'huracan'
 'a35' '740li' 'fluence' 'r8' 'esquire' '308' 'cr-v' 'e220' 'levante'
 '335i' '116d' 'sx4' 's300l' 'apv' 'x2' 'eclipse' 'clio' 'premio' '500'
 'a8' 'soul' '330i' 'a1' 'rs' 'tiguan' 'elgrand' 'flying' 'materia' 'tt'
 's3' 'ct' 'a45' 'integra' 'dawn' '599' 'asx' 'serena' 'gallardo' 'c4'
 'ml350' 'superb' 'almera' 'dbs' 'stepwagon' '730i' 'rapid' 'q7' 'f430'
 'c5' 'skyline' 'gransport' 'fortuner' 'seltos' 'ds5' 'juke' 'california'
 '540i' 'santa' 'venue' 'rav4' 'h3' '718' 'xj' 'kadjar' 'mulsanne' 's450'
 'niro' 'grancabrio' 'xc90' 'space' 's80' 'compass' 's500l' 'pulsar'
 'qx80' 'db9' 'ux' 'giulia' 'ml250' 'e180' 'insight' 'm135i' 'xc40'
 'karoq' 'x6' 'benz' 'f12berlinetta' 'gla200' 'a170' '225xe' 'mokka' 'q30'
 'v8' 'i8' 'exora' '218d' '325i' 's2000' 'gtc4lusso' 'raize' '508'
 'fairlady' 'x7' 'sq5' 'c250' 'phantom' '2008' '740i' 's40' 'hs' 'qx50'
 'defender' 'toledo' 'ateca' 'clc180k' 'maybach' 'gle400' '650s' '570s'
 '328i' 'rush' 'crossland' 'mark' 'sonata' 'verna' 'elise' 'stelvio'
 '125i' 'ls460' 'wrangler' 'insignia' 'portofino' 'malibu' 's500' 'm140i'
 'journey' 'cascada' '107' 'levorg' '525i' 'gtr' '120i' 'gla250' 'q8'
 'orlando' 'prado' 'cc' 'v250d' 'cls250' 'glb200' '323i' 'avanza'
 'grandland' 'f8' 'sovereign' 'corsa' 'himiko' 'i45' 'f-pace' 'glc300'
 'viva' 'isis' 's4' 'jade' '208' '600lt' 'ls350' 'optima' 'ml400'
 'touareg' 'legacy' 'v250' 'arona' 'cts' 'cx-3' 'bentayga' '1m' 's560'
 'kamiq' 'ds4' 'ml300' 'c3' 'presage' '3800s' 'cla250' 'e300' 'cherokee'
 'copen' 's280' 'saga' 'gr' 'meriva' 'brz' 'lx570' 'myvi' '840i' 'eos'
 'getz' 'royce' 's600l' 'ioniq' 'mondeo' 'grandis' 'xk' 'ibiza' '435i'
 'i3' 'zafira' 'tarraco' '575m' '340i' '450slc' 'rc' 'vanquish' 'march'
 'e350' 'ff' 'gt' 'vantage' '228i' 'hiace' 'vitz' 'ractis' 'lc500' 'tudor'
 '62' 'aero' 'optra' 'g350' '300c' 'r350l' '750li' 'capri' 'r300l'
 'tuscani' 'fj' 'kelisa' '320d' 'gl400' 'clk280' 'a110' 'm8' 'kenari'
 'mrs' 'n-box' 'wraith' 'airtrek' 'alhambra' 'freelander' 'sl500' 'wrx'
 '220' 'fortwo' 'celica' 'genesis' 'c300' 'v260l' 'cl550' 'ciaz' 'slk350'
 'v50' 'cls500' 'v90' 'aveo' 'kona' '440i' 'fiesta' '612' 'p1800' 'adam'
 'kombi' '9-5' 'renegade' 'rt35s' 'caddy' 'slk250' 'star' '9-3' '230i'
 'kuga' 'g10' 'viano' 'gle450' 'f612s' 'b170' 'db11' 'solio' 'vanguard'
 'exiga' 'europa' 'sunny' '750i' 'yeti' 'ds3' 'galaxy' 'doblo' 'c350'
 '207' '159' 's-max' 'arteon' 'scout' 'slk280']
manufactured [2015 2010 2016 2007 2014 2018 2012 2009 2019 2005 2017 2020 1964 2008
 2011 2013 2116 2021 2118 2004 2115 2120 2006 2121 2106 2107 2119 2112
 2111 2109 2117 2110 2108 2113 1975 2114 2003 1978 1933 1976 1969 1982
 1972 1962]
type_of_vehicle ['suv' 'sports car' 'hatchback' 'mid-sized sedan' 'luxury sedan' 'mpv'
 'unknown' 'stationwagon' 'bus/mini bus' 'van']
power [ 85 188  88  47 193  90 225 200 115 135  59 180 170 100 190 106  93 129
 530 111 110 493 310  95  80 150  99 155 154  70  79 147 220 118 183 101
 185  92  58  75  91 140 133 286 478  77 250 103  66 175  97 187 162 132
  96 735 134 141 158 105 228  73 104  86 515 206 160 125 235  81 152 184
 280 430 336 114 202 120 169  64 145 331  69 121 153 317 240  84 386 108
 245 460 375  89 412 257 261 234 233 127 298 192 112  74  72 420 218 123
  57 447 215 177 199 373  94 330  51 368 148 441 113 323 217 195 272 300
 449 353 316 142 143  82 130  68  87 243  60 165 309  76 213 265 456 138
 294 137  65 533 254  63 470 287 283 404 357 295 338 136 340 467 174 109
 395 305 128 221 122 270 179 405 335 350 176 416 450 210 408 541 260 151
 313 275 285 182  54 173 423 119 324 390 419 269 178 146 230  50 358 360
 397 139 247 266 164  45 411 232 545  67 381 306 258 229 388 107 117 209
 345 302 166 301 277 552 242 205 507 380 400 320 224 486 425 241 463 223
 131 382 203 351  55 410 308  48 384  40 156 126 453 171 197 377 464 216
 489 427 465 297 149]
engine_cap [1197 1984 1586 1086 2967 1797 2979 1598 3498 1796 1991 1193 1998 1499
 2996 1969 1595 1591 2356 3994 1986 3902 3445 2497  999 2912 2487 1498
 1584 3598 1390 2995 1997 1496 1597 1198 1798 2494 2999 3996 2143 1495
 2998 1799 1497 1395 1995 1999 2893 3990 2493 1794 1308 1996 1318 1685
 1332 6498 3456 2362 2498 3724 3189 2993 1368 3982 1975 1462 2987 2457
 1298 1987 5038 1399 2500 1199 1339 1560 5461 5998 4999 6208 1596 4395
 4691 3824 4608 2997 1317 2773 6592 2360  988 1398 1461 4244 3197 1600
 3605 3993 1353 2488  996 2981  998 2261 2687 4806 2151 4497 1468 3798
 3342 5204 3600 3387 4163 1950 2157 2199 1590 1994 2179 1242 1196 2480
 3999 2894 3745 5999 2359 3614 4134 4308 2495 3800 2694 4297 2672 5950
 3855 3653 1988 1362 6752 1580 2354 2521 4663 5552 5935 1372 2891 6262
 1699 4735 3436 3696 6749 2435 1490 1371 5000 5980 3799 2499 2156 3778
 2384 3444 2925 3956 1993 2693 1968 4235  989 2035 3604 1328 4951 3179
 2994 3564 2706 3596 3311 1668  659 2799 1364 5662 1618 1460 3597 5514
 2378 4196  647 5748 4520 2953 1386 4961 1373 1296 4969 3622 4799 3518
 1397 3797 3955 3471 1341  658 3995 3192 2197 1335 4499 2496 1970 1310
 2656 1333 2198]
curb_weight ['1285' '1466' '1160' '852' '2185' '1440' '1815' '1195' '1765' '1495'
 '1465' '940' '1470' '1695' '1655' '1425' '1580' '1340' '1557' '1430'
 '1287' '1855' '1419' '1610' '1480' '1565' '2220' '1295' '1650' '1369'
 '1158' '1393' '1267' '1545' '1350' '1725' '1162' '1360' '2105' '1503'
 '1660' '1685' '1615' '1680' 'XXXXX' '1405' '1237' '1310' '1048' '1261'
 '1230' '1249' '1225' '1205' '1475' '1720' '1644' '2320' '1345' '1845'
 '1417' '1190' '1769' '1535' '1410' '1139' '1095' '2070' '1130' '1525'
 '1620' '1625' '1790' '1605' '1700' '1574' '1321' '1375' '1775' '2030'
 '1450' '1485' '1407' '1355' '1461' '1566' '1045' '1079' '1052' '1385'
 '1435' '1365' '1413' '1690' '1313' '1735' '1540' '1390' '1500' '1810'
 '1036' '1170' '1755' '1096' '1380' '1067' '1490' '1105' '1455' '1331'
 '1520' '1795' '1290' '1684' '1088' '1850' '1750' '1100' '1215' '1200'
 '1617' '1115' '1575' '1468' '1038' '1665' '1945' '1370' '1770' '1572'
 '1219' '1339' '1210' '1110' '1505' '1000' '1840' '1515' '1640' '1893'
 '1176' '1240' '1324' '1315' '1472' '1239' '1300' '1270' '1560' '1185'
 '2000' '1570' '1255' '1530' '1010' '1549' '1140' '1858' '1132' '1760'
 '1870' '1935' '1188' '1940' '2329' '1925' '1046' '1730' '1085' '1460'
 '1675' '1264' '1438' '1626' '1336' '2525' '1241' '1590' '2530' '1322'
 '1748' '1289' '1785' '1030' '1280' '2075' '1120' '1080' '1715' '1155'
 '1090' '1081' '1630' '2435' '1606' '1613' '1740' '1568' '1060' '2010'
 '1232' '1970' '1220' '1383' '1510' '1835' '1880' '1320' '2080' '1191'
 '1357' '1395' '1327' '1420' '1550' '1555' '1227' '1501' '1373' '1600'
 '2295' '1457' '1292' '1980' '1898' '1865' '2245' '1532' '1251' '1577'
 '1692' '1400' '1408' '1954' '1757' '1335' '1329' '1454' '1044' '1955'
 '1070' '1379' '1682' '1647' '1875' '1245' '1705' '1325' '2360' '1867'
 '1257' '1780' '1920' '1441' '1585' '1175' '1382' '2109' '1050' '1591'
 '1138' '2020' '2039' '1330' '1275' '2560' '980' '1645' '1207' '1165'
 '1900' '1040' '1536' '1453' '1595' '1391' '1862' '1975' '2475' '1397'
 '1930' '2065' '2495' '970' '1758' '1359' '1102' '2060' '2140' '1983'
 '1915' '1841' '1075' '1445' '1558' '1830' '1825' '2350' '1708' '2045'
 '1892' '1415' '1129' '1492' '1489' '1427' '2290' '2430' '1514' '1314'
 '1150' '1203' '1812' '1522' '1323' '1509' '1218' '1125' '2150' '1800'
 '1594' '2183' '1890' '2417' '2244' '1527' '2231' '1343' '1804' '1265'
 '1421' '1608' '2685' '1667' '1589' '1478' '1498' '1569' '2099' '915'
 '1997' '1672' '1286' '1269' '1683' '2214' '2015' '2815' '1670' '1449'
 '1710' '1318' '2187' '2455' '1860' '1528' '1635' '1531' '1551' '1065'
 '1950' '1041' '2305' '1404' '1433' '1805' '1716' '1204' '1463' '2115'
 '1513' '1664' '1895' '2470' '1776' '1422' '1916' '1819' '1990' '1679'
 '1126' '1642' '2094' '1260' '2670' '1312' '2190' '1601' '2205' '1388'
 '1563' '1284' '1995' '2261' '2485' '2315' '1364' '1288' '1576' '1648'
 '1222' '2037' '1537' '1969' '2335' '2180' '1439' '1486' '2510' '2050'
 '2175' '2250' '1777' '2120' '1597' '1229' '1448' '2170' '1263' '860'
 '1517' '1068' '910' '1818' '2165' '1250' '1447' '2410' '1020' '1539'
 '2090' '1873' '1658' '805' '1476' '1891' '2451' '1604' '2420' '2110'
 '1596' '1747' '1180' '2540' '2345' '2130' '1055' '2240' '1960' '2055'
 '945' '2095' '1965' '1259' '2223' '1676' '1328' '2625' '1831' '1729'
 '1838' '1387' '1424' '1919' '800' '1542' '1722' '1235' '1414' '1358'
 '1334' '1356' '1856' '2125' '1636' '1526' '1612' '1745' '1279' '2215'
 '2555' '2600' '1798' '2433' '1899' '1820' '2249' '2040' '2106' '2064'
 '1338' '2395' '2505' '1308' '930' '2155' '2160' '2135' '1353' '1058'
 '1882' '2550' '2440' '2127' '1846' '2266' '830' '1437' '1317' '1035'
 '1396' '1253' '1429' '2512' '2730' '955' '2490' '2361' '1689' '1135'
 '840' '1151' '1933' '1164' '1538' '1582' '2025' '2284' '2375' '1652'
 '1078' '872' '2511' '1659' '1739' '1894' '2206' '1752' '1824' '1772'
 '995' '1381' '1346' '1603' '950' '1732' '1583' '2085' '2760' '1721'
 '2093' '1377' '1474' '1781' '1985' '2905' '1534' '2590' '2513' '1122'
 '1910' '1834' '1316' '1306' '890' '2123' '806' '2184' '2425' '1378'
 '1994' '1086' '1456' '1832' '870' '1533' '1554' '1709' '1571' '2570'
 '780' '1703' '1347' '786' '2153' '1411' '2450' '891' '2370' '1768' '1025'
 '2583' '1905' '1119' '1979' '1403' '1853' '1656' '1989' '1233' '795'
 '1674' '2100' '1484' '2068' '1178' '1299' '2365' '1953' '2227' '2585'
 '1663' '1567' '1646' '2745' '1939' '1611' '2492' '1921' '1399' '1221'
 '1552' '2' '1402' '2635' '2079' '2027' '1706' '2217' '1936' '2509' '1145'
 '1661' '1268' '1797' '2145' '1193' '1392' '1529' '1366' '1657' '1903'
 '2448' '2275' '1431' '1293']
no_of_owners [ 2  6  1  3 -1  5  4]
mileage [ 80000 149000  84000 ... 150256  28414 158400]
price [  52800  105800   55800 ...   66600  118900 1068800]

In [ ]:
### check for duplicated rows
duplicated_df = df_cars_dirty[df_cars_dirty.duplicated(keep=False)]
unique_ids = duplicated_df["listing_id"].unique()
len(unique_ids)
total_duplicates = 0
for id in unique_ids:
    datapoints = duplicated_df.loc[duplicated_df["listing_id"] == id]
    num_duplicates = len(datapoints)
    
    for col in datapoints.columns:
        x = set([datapoints[col].values[i] for i in range(num_duplicates)])
        assert len(x) == 1

    total_duplicates += num_duplicates

duplicated_df_dropped = df_cars_dirty.drop_duplicates()
duplicated_df_dropped

num_new_duplicates = 0
for id in duplicated_df_dropped["listing_id"].unique():
    id_points = duplicated_df_dropped.loc[duplicated_df_dropped["listing_id"] == id]
    if len(id_points) > 1:
        num_new_duplicates += 1
        print(id_points)
print(num_new_duplicates)

In [ ]:
### inspect the values for the number of owners
invalid_listings = df_cars_dirty[df_cars_dirty["listing_id"].str.contains("C")]
invalid_listings["listing_id"] = df_cars_dirty["listing_id"].apply(lambda x: x[1:])
invalid_listings

In [ ]:
### make a copy of original dataset
df_cars_dirty_copy = df_cars_dirty.copy()
df_cars_dirty_copy["listing_id"] = df_cars_dirty_copy["listing_id"].apply(lambda x: x[1:])
print(len(df_cars_dirty_copy["listing_id"].unique()))
print(len(df_cars_dirty["listing_id"].unique()))

In [ ]:
### inspect the data where number of owners == -1
df_cars_dirty.loc[df_cars_dirty["no_of_owners"] == -1]

In [ ]:
### inspect the mercedes and mercedes-benz makes
df_cars_dirty.loc[(df_cars_dirty["make"] == "mercedes")]

In [ ]:
### inspect the mercedes and mercedes-benz makes to find the missing model
df_cars_dirty.loc[(df_cars_dirty["manufactured"] == 2020) & (df_cars_dirty["type_of_vehicle"] == "hatchback") & (df_cars_dirty["make"] == "mercedes-benz") & (df_cars_dirty["power"] == 96) & (df_cars_dirty["engine_cap"] == 1332)]

In [ ]:
print('Number of records: {}'.format(len(df_cars_dirty)))

If you check the dataset against its description as given above -- with the help of `pandas` or by simply inspecting the raw data file -- you will notice that many records are "dirty", meaning they are not in the expected format. Dirty records can negatively affect any subsequent analysis it needs.

**Perform EDA on the Used Cars Resale Price dataset and perform appropriate preprocessing steps to clean the data!**
The preprocessing step for cleaning the data step may include
* the *removal* of "dirty records" or
* the *modification* of "dirty records" records

**Task 1: Identify at least 3 issues** with the dataset that would negatively affect any subsequent analysis, and clean the data accordingly.

**Important:**

* Recall from the lecture that data cleaning often involves making certain decisions. As such, you might come up with different steps than other students. This is OK as long as you can reasonably justify your steps.
* The goal is to preserve as much of the records as possible! So only remove records as part of your data cleaning if it's really necessary (this includes that you should not remove any attributes!). There might be different valid cases, so don't forget to briefly justify your decision.
* For this task, we are **not** trying to identify "noise" (e.g., outliers in the form of suspicious values) or `NaN` values; this will be covered later. Here, we look for records with values not eligible to be used for an analysis because they do not adhere to the data description.

Please provide your answer below. It should list the different issues you have identified and briefly discuss which data cleaning steps you can and/or need to perform to address those issues.

**Your answer:**

### Issues with dataset
#### 1. Duplicated Data Points (Done)
By using `df_cars_dirty["listing_id"].unique()`, we can see that there are only **14,321 unique listing ids**, which means that **there are duplicated listings in the dataset**.

### 2. Duplicated Listing IDs with Inconsistent Data
When `df_cars_dirty.drop_duplicates()` is used to drop the duplicated data points and `df_cars_dirty["listing_id"].unique()` is run again, we should expect that the number of unique listing ids remain at 14,321 and the length of the dataset should be 14,321 also. Since theoretically, all duplicated listings should have been removed. This is however not the case.

Upon inspection of the remaining dataset, we will find that there are now **14,344** data points. This implies that there are still some duplicated listing IDs in the dataset. By checking the number of times each of the listing ids in the remaining dataset appears and counting only those that appear more than once, we get a count of **23** which is exactly the discrepancy we expect.

Upon inspection of these data points more closely, we can realise that these are data points where there are some **erroneous and inconsistent values**. For example, the listing id "1001655" appears twice in in line 3393 and line 9459. There is an error in the manufacture date in line 3393 which states "2119", which is not a valid date at present. The correct data, on line 9459 is "2019".

### 3. Same Vehicle Make Appears In Two Different Forms (Done)
There are 3 entries in the dataset where the **_vehicle make is specified as "mercedes"_**, while the **_model is specified as "benz"_**. We shall not remove these data points because of this discrepancy. Instead, we can **_correct the mistakes in the column values_**. First, the **_"make" will be corrected to "mercedes-benz"_**. Next, to find out the "model" of these 3 cars, we **_compare the other specs, such as manufactured date, type of vehicle, power, engine capacity and curb weight with data from the other "mercedes-benz" data points._** Together with a **_simple google search_** on the specs of these 3 unknown vehicles, we can identify the **_missing "model" labels to be "a200" and "a180"._**

### 4. Dirty "curb_weight" Data (Done)
There are two issues with "curb_weight" data.
a) The "curb_weight" column contains 280 "XXXXX" values. We can find the correct curb weight value for the particular model by matching the other vehicle specifications with other listings. However, even after matching, there exists some vehicle models that have multiple valid curb weights. For example, toyota qashqai has curb weight variants of 1285 and 1325. For these cases, we will ignore the "XXXXX" values and remove them after. This amounts to 106 entries. We have managed to retain more than half the dirty data.

b) The "curb_weight" column is in string format. As this data can be considered ratio data, we will convert all the "curb_weight" values into integer form.

### 5. Incorrect Data
There are several instances of data that are factually incorrect. For example, checking the unique values of the manufacture date, we can identify several invalid entries, such as "2111", "2115", etc. We can give benefit of doubt and assume these are spelling errors. Eg. Writing 2111 instead of 2011. We can try to use the information from the other columns for these invalid manufacturing years to try and deduce the correct manufacturing year. For those where it is too difficult, we will omit the data.

**Task 2: Complete the method `clean` in the `.py` file to actually implement your steps for handling "dirty" records!** The results should back up your answer above. Hint: Try to use methods/functionalities provided by `pandas` as much as possible; it will make your code much shorter, faster and your life easier. We will run performance checks for this method to evaluate the runtime, but the performance is not considered for the grading!

In [144]:
df_cars_cleaned = clean(df_cars_dirty)

print('After preprocessing, there are now {} records.'.format(df_cars_cleaned.shape[0]))

/Users/benho/Documents/mcomp/cs5228/cs5228_assignments/assignment1/cs5228_a1_HoGuanMengBenjamin_E1101568.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cars_a200["model"] = df_cars_a200["model"].apply(lambda x: "a200")
/Users/benho/Documents/mcomp/cs5228/cs5228_assignments/assignment1/cs5228_a1_HoGuanMengBenjamin_E1101568.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cars_a180["model"] = df_cars_a180["model"].apply(lambda x: "a180")

,listing_id,url,make,model,manufactured,type_of_vehicle,power,engine_cap,curb_weight,no_of_owners,mileage,price
1853,1024815,https://www.sgcarmart.com/listing/1024815,mercedes-benz,a200,2018,hatchback,120,1332,1375,1,16904,125800

,listing_id,url,make,model,manufactured,type_of_vehicle,power,engine_cap,curb_weight,no_of_owners,mileage,price
10873,1025034,https://www.sgcarmart.com/listing/1025034,mercedes-benz,a180,2020,hatchback,96,1332,1365,1,15000,144800

,listing_id,url,make,model,manufactured,type_of_vehicle,power,engine_cap,curb_weight,no_of_owners,mileage,price
12241,1027398,https://www.sgcarmart.com/listing/1027398,mercedes-benz,a180,2020,hatchback,96,1332,1365,1,3300,149500

listing_id ['983884' '1026259' '1002033' ... '1019391' '1023024' '996280']
url ['https://www.sgcarmart.com/listing/983884'
 'https://www.sgcarmart.com/listing/1026259'
 'https://www.sgcarmart.com/listing/1002033' ...
 'https://www.sgcarmart.com/listing/1019391'
 'https://www.sgcarmart.com/listing/1023024'
 'https://www.sgcarmart.com/listing/996280']
make ['nissan' 'volkswagen' 'suzuki' 'kia' 'porsche' 'toyota' 'bmw'
 'mercedes-benz' 'mitsubishi' 'skoda' 'volvo' 'honda' 'mclaren' 'ferrari'
 'lexus' 'austin' 'hyundai' 'mazda' 'audi' 'mini' 'infiniti' 'lamborghini'
 'daihatsu' 'jaguar' 'subaru' 'chevrolet' 'maserati' 'ford' 'alfa romeo'
 'peugeot' 'bentley' 'opel' 'land rover' 'seat' 'rolls-royce' 'ssangyong'
 'renault' 'fiat' 'citroen' 'aston martin' 'hummer' 'jeep' 'proton' 'mg'
 'cupra' 'lotus' 'dodge' 'daimler' 'mitsuoka' 'perodua' 'cadillac' 'ruf'
 'rolls' 'maybach' 'morgan' 'chrysler' 'alpine' 'smart' 'saab' 'dongfeng'
 'maxus' 'international']
model ['qashqai' 'golf' 'vitara' 'picanto' 'cayenne' 'c-hr' 'x4' 'corolla' 'amg'
 'c180' 'attrage' 'octavia' 'harrier' '318i' '630ci' 'wish' 's60' 'cla180'
 'cerato' 'e' '720s' 'outlander' '488' 'ls500' '523i' 't-cross' 'healey'
 'scirocco' 'elantra' 'camry' 'b160' 'e250' 'lancer' 'gs' 'x3' '520i'
 'freed' '316i' 'civic' '3' 'note' '216i' 'a4' 'cooper' 'sylphy' '730li'
 'q50' 'urus' 'jetta' 'b200' 'terios' 'm4' 'crossroad' 'polo' 'vios' 'rx'
 'shuttle' 'voxy' '530i' 'sharan' 'e200' '520d' 'xe' 'vezel' 'boxster'
 'prius' 'avante' 'sf90' 'alphard' '2' 'x1' 'rx-8' 'forester' 'vellfire'
 'jazz' 'gla180' 'carens' 'a180' 'a3' 'cruze' 'aventador' 'es' 'glc250'
 'qx30' '320i' '220i' 'odyssey' 'noah' 'grace' 'passat' 'nx' 'city' 'c200'
 'a250' 'estima' 'x5' 'evolution' 'macan' 'outback' 'activehybrid' '640i'
 'airwave' 'sl350' 'latio' 'previa' 'allion' '528i' 'm5' 'accent' 'coupe'
 'tucson' 'accord' 'q3' 'kodiaq' 'veloster' 'jimny' 'c160' 'quattroporte'
 'stream' 'impreza' 'ist' 'q5' 'mustang' 'rio' 'giulietta' 'q2' 'is' '86'
 '3008' 'm3' 'm2' 'hr-v' 'beetle' '535i' 'fit' 'a6' 'sienta' '5008'
 's400l' 'continental' 'astra' 's320l' 'range' 's350' '135i' 'cls350'
 '420i' 'picnic' 'v40' 'm6' 'x-trail' 'rcz' 'granturismo' 'ghibli' 'leon'
 '911' 'land' 'q60' '630i' 's90' 'a7' 'aqua' 'swift' 'z4' '116i' 'mobilio'
 'one' 'ghost' 'v60' '330e' 'teana' 'touran' 'alpina' '118i' 'sonic'
 'sportsvan' '430i' '530e' 's5' 'stavic' 'discovery' 'grand' 'a200'
 'focus' 'xc60' 'e230' 'cla200' 'slk200' 'xv' 'panamera' 'scenic' 'a5'
 'i30' 'tivoli' '650i' 'yaris' 'stonic' 'sportage' '218i' 'sorento'
 'e-pace' '458' '428i' 'colt' '216d' 'megane' 'cayman' 'f-type' 'gran'
 'cls400' 'glc200' '12c' 'xf' 'b180' 'stinger' 'axela' 'crown' 'huracan'
 'a35' '740li' 'fluence' 'r8' 'esquire' '308' 'cr-v' 'e220' 'levante'
 '335i' '116d' 'sx4' 's300l' 'apv' 'x2' 'eclipse' 'clio' 'premio' '500'
 'a8' 'soul' '330i' 'a1' 'rs' 'tiguan' 'elgrand' 'flying' 'materia' 'tt'
 's3' 'ct' 'a45' 'integra' 'dawn' '599' 'asx' 'serena' 'gallardo' 'c4'
 'ml350' 'superb' 'almera' 'dbs' 'stepwagon' '730i' 'rapid' 'q7' 'f430'
 'c5' 'skyline' 'gransport' 'fortuner' 'seltos' 'ds5' 'juke' 'california'
 '540i' 'santa' 'venue' 'rav4' 'h3' '718' 'xj' 'kadjar' 'mulsanne' 's450'
 'niro' 'grancabrio' 'xc90' 'space' 's80' 'compass' 's500l' 'pulsar'
 'qx80' 'db9' 'ux' 'giulia' 'ml250' 'e180' 'insight' 'm135i' 'xc40'
 'karoq' 'x6' 'f12berlinetta' 'gla200' 'a170' '225xe' 'mokka' 'q30' 'v8'
 'i8' 'exora' '218d' '325i' 's2000' 'gtc4lusso' 'raize' '508' 'fairlady'
 'x7' 'sq5' 'c250' 'phantom' '2008' '740i' 's40' 'hs' 'qx50' 'defender'
 'toledo' 'ateca' 'clc180k' 'maybach' 'gle400' '650s' '570s' '328i' 'rush'
 'crossland' 'mark' 'sonata' 'verna' 'elise' 'stelvio' '125i' 'ls460'
 'wrangler' 'insignia' 'portofino' 'malibu' 's500' 'm140i' 'journey'
 'cascada' '107' 'levorg' '525i' 'gtr' '120i' 'gla250' 'q8' 'orlando'
 'prado' 'cc' 'v250d' 'cls250' 'glb200' '323i' 'avanza' 'grandland' 'f8'
 'sovereign' 'corsa' 'himiko' 'i45' 'f-pace' 'glc300' 'viva' 'isis' 's4'
 'jade' '208' '600lt' 'ls350' 'optima' 'ml400' 'touareg' 'legacy' 'v250'
 'arona' 'cts' 'cx-3' 'bentayga' '1m' 's560' 'kamiq' 'ds4' 'ml300' 'c3'
 'presage' '3800s' 'cla250' 'e300' 'cherokee' 'copen' 's280' 'saga' 'gr'
 'meriva' 'brz' 'lx570' 'myvi' '840i' 'eos' 'getz' 'royce' 's600l' 'ioniq'
 'mondeo' 'grandis' 'xk' 'ibiza' '435i' 'i3' 'zafira' 'tarraco' '575m'
 '340i' '450slc' 'rc' 'vanquish' 'march' 'e350' 'ff' 'gt' 'vantage' '228i'
 'hiace' 'vitz' 'ractis' 'lc500' 'tudor' '62' 'aero' 'optra' 'g350' '300c'
 'r350l' '750li' 'capri' 'r300l' 'tuscani' 'fj' 'kelisa' '320d' 'gl400'
 'clk280' 'a110' 'm8' 'kenari' 'mrs' 'n-box' 'wraith' 'airtrek' 'alhambra'
 'freelander' 'sl500' 'wrx' '220' 'fortwo' 'celica' 'genesis' 'c300'
 'v260l' 'cl550' 'ciaz' 'slk350' 'v50' 'cls500' 'v90' 'aveo' 'kona' '440i'
 'fiesta' '612' 'p1800' 'adam' 'kombi' '9-5' 'renegade' 'rt35s' 'caddy'
 'slk250' 'star' '9-3' '230i' 'kuga' 'g10' 'viano' 'gle450' 'f612s' 'b170'
 'db11' 'solio' 'vanguard' 'exiga' 'europa' 'sunny' '750i' 'yeti' 'ds3'
 'galaxy' 'doblo' 'c350' '207' '159' 's-max' 'arteon' 'scout' 'slk280']
manufactured [2015 2010 2016 2007 2014 2018 2012 2009 2019 2005 2017 2020 1964 2008
 2011 2013 2116 2021 2118 2004 2115 2120 2006 2121 2106 2107 2119 2112
 2111 2109 2117 2110 2108 2113 1975 2114 2003 1978 1933 1976 1969 1982
 1972 1962]
type_of_vehicle ['suv' 'sports car' 'hatchback' 'mid-sized sedan' 'luxury sedan' 'mpv'
 'unknown' 'stationwagon' 'bus/mini bus' 'van']
power [ 85 188  88  47 193  90 225 200 115 135  59 180 170 100 190 106  93 129
 530 111 110 493 310  95  80 150  99 155 154  70  79 147 220 118 183 101
 185  92  58  75  91 140 133 286 478  77 250 103  66 175  97 187 162 132
  96 735 134 141 158 105 228  73 104  86 515 206 160 125 235  81 152 184
 280 430 336 114 202 120 169  64 145 331  69 121 153 317 240  84 386 108
 245 460 375  89 412 257 261 234 233 127 298 192 112  74  72 420 218 123
  57 447 215 177 199 373  94 330  51 368 148 441 113 323 217 195 272 300
 449 353 316 142 143  82 130  68  87 243  60 165 309  76 213 265 456 138
 294 137  65 533 254  63 470 287 283 404 357 295 338 136 340 467 174 109
 395 305 128 221 122 270 179 405 335 350 176 416 450 210 408 541 260 151
 313 275 285 182  54 173 423 119 324 390 419 269 178 146 230  50 358 360
 397 139 247 266 164  45 411 232 545  67 381 306 258 229 388 107 117 209
 345 302 166 301 277 552 242 205 507 380 400 320 224 486 425 241 463 223
 131 382 203 351  55 410 308  48 384  40 156 126 453 171 197 377 464 216
 489 427 465 297 149]
engine_cap [1197 1984 1586 1086 2967 1797 2979 1598 3498 1796 1991 1193 1998 1499
 2996 1969 1595 1591 2356 3994 1986 3902 3445 2497  999 2912 2487 1498
 1584 3598 1390 2995 1997 1496 1597 1198 1798 2494 2999 3996 2143 1495
 2998 1799 1497 1395 1995 1999 2893 3990 2493 1794 1308 1996 1318 1685
 1332 6498 3456 2362 2498 3724 3189 2993 1368 3982 1975 1462 2987 2457
 1298 1987 5038 1399 2500 1199 1339 1560 5461 5998 4999 6208 1596 4395
 4691 3824 4608 2997 1317 2773 6592 2360  988 1398 1461 4244 3197 1600
 3605 3993 1353 2488  996 2981  998 2261 2687 4806 2151 4497 1468 3798
 3342 5204 3600 3387 4163 1950 2157 2199 1590 1994 2179 1242 1196 2480
 3999 2894 3745 5999 2359 3614 4134 4308 2495 3800 2694 4297 2672 5950
 3855 3653 1988 1362 6752 1580 2354 2521 4663 5552 5935 1372 2891 6262
 1699 4735 3436 3696 6749 2435 1490 1371 5000 5980 3799 2499 2156 3778
 2384 3444 2925 3956 1993 2693 1968 4235  989 2035 3604 1328 4951 3179
 2994 3564 2706 3596 3311 1668  659 2799 1364 5662 1618 1460 3597 5514
 2378 4196  647 5748 4520 2953 1386 4961 1373 1296 4969 3622 4799 3518
 1397 3797 3955 3471 1341  658 3995 3192 2197 1335 4499 2496 1970 1310
 2656 1333 2198]
curb_weight ['1285' '1466' '1160' '852' '2185' '1440' '1815' '1195' '1765' '1495'
 '1465' '940' '1470' '1695' '1655' '1425' '1580' '1340' '1557' '1430'
 '1287' '1855' '1419' '1610' '1480' '1565' '2220' '1295' '1650' '1369'
 '1158' '1393' '1267' '1545' '1350' '1725' '1162' '1360' '2105' '1503'
 '1660' '1685' '1615' '1680' '1715' '1405' '1237' '1310' '1048' '1261'
 '1230' '1249' '1225' '1205' '1475' '1720' '1644' '2320' '1345' '1845'
 '1417' '1190' '1769' '1535' '1410' '1139' '1095' '2070' '1130' '1525'
 '1620' '1625' '1790' '1605' '1700' '1574' '1321' '1375' '1775' '2030'
 '1450' '1485' '1407' '1355' '1461' '1566' '1045' '1079' '1052' '1385'
 '1435' '1365' '1413' '1690' '1313' '1735' '1540' '1390' '1500' '1810'
 '1036' '1170' '1755' '1096' '1380' '1067' '1490' '1105' '1455' '1331'
 '1520' '1795' '1290' '1684' '1088' '1850' '1750' '1100' '1215' '1200'
 '1617' '2190' '1115' '1575' '1468' '1038' '1665' '1945' '1370' '1770'
 '1572' '1219' '1339' '1210' '1110' '1505' '1000' '1840' '1515' '1640'
 '1893' '1176' '1240' '1324' '1315' '1472' '1239' '1300' '1270' '1560'
 '1185' '2000' '1570' '1255' '1530' '1010' '1549' '1140' '1858' '1132'
 '1760' '1870' '1935' 'XXXXX' '1188' '1940' '2329' '1925' '1046' '1730'
 '1085' '1460' '1675' '1264' '1438' '1626' '1336' '2525' '1241' '1590'
 '2530' '1322' '1748' '1289' '1785' '1030' '1280' '2075' '1120' '1080'
 '1155' '1090' '1081' '1630' '2435' '1606' '1613' '1740' '1568' '1060'
 '2010' '1232' '1970' '1220' '1383' '1510' '1835' '1880' '1320' '2080'
 '1191' '1357' '1395' '1327' '1420' '1550' '1555' '1227' '1501' '1373'
 '1600' '2295' '1457' '1292' '1980' '1898' '1865' '2245' '1532' '1251'
 '1577' '1692' '1400' '1408' '1954' '1757' '1335' '1329' '1454' '1044'
 '1955' '1070' '1379' '1682' '1647' '1875' '1245' '1705' '1325' '2360'
 '1867' '1257' '1780' '1920' '1314' '1441' '1585' '1175' '1382' '2109'
 '1050' '1591' '1138' '2020' '2039' '1330' '1275' '2560' '980' '1645'
 '1207' '1165' '1900' '1040' '1536' '1453' '1595' '1391' '1862' '1975'
 '2475' '1397' '1020' '1930' '2065' '2495' '970' '1758' '1359' '1102'
 '2060' '2140' '1983' '1915' '1841' '1075' '1445' '1558' '1830' '1825'
 '2350' '1708' '2045' '1892' '1415' '1129' '1492' '1489' '1427' '2290'
 '2430' '1514' '1150' '1203' '1812' '1522' '1323' '1509' '1218' '1125'
 '2150' '1800' '1594' '2183' '1890' '2417' '2244' '1527' '2231' '1343'
 '1804' '1265' '1421' '1608' '2685' '1667' '1589' '1478' '1498' '1569'
 '2099' '915' '1997' '1672' '1286' '1269' '1683' '2214' '2015' '2815'
 '1670' '1449' '1710' '1318' '2187' '2455' '1860' '1528' '1635' '1531'
 '1551' '1065' '1950' '1041' '2305' '1404' '1433' '1805' '1716' '1204'
 '1463' '2115' '1513' '1664' '1895' '2470' '1776' '1422' '1916' '1819'
 '1990' '1679' '1126' '1642' '2094' '1260' '2670' '1312' '1601' '2205'
 '1388' '1563' '1284' '1995' '2261' '2485' '2315' '1364' '1777' '1288'
 '1576' '1648' '1222' '2037' '1537' '1969' '2335' '2180' '1439' '1486'
 '2510' '2050' '2175' '2250' '2120' '1597' '1229' '1448' '2170' '1263'
 '860' '1517' '1068' '910' '1818' '2165' '1250' '1447' '2410' '1539'
 '2090' '1873' '1658' '805' '1476' '1891' '2451' '1604' '2420' '2110'
 '1596' '1747' '1180' '2540' '2345' '2130' '1055' '2240' '1960' '2055'
 '945' '2095' '1965' '1259' '2223' '1676' '1328' '2625' '1831' '1729'
 '1838' '1387' '1424' '1919' '800' '1542' '1722' '1235' '1414' '1358'
 '1334' '1356' '1856' '2125' '1636' '1526' '1612' '1745' '1279' '2215'
 '2555' '2600' '1798' '2433' '1899' '1820' '2249' '2040' '2106' '2064'
 '1338' '2395' '2505' '1308' '930' '2155' '2160' '2135' '1353' '1058'
 '1882' '2550' '2440' '2127' '1846' '2266' '830' '1437' '1317' '1035'
 '1396' '1253' '1429' '2512' '2730' '955' '2490' '2361' '1689' '1135'
 '840' '1151' '1933' '1164' '1538' '1582' '2025' '2284' '2375' '1652'
 '1078' '872' '2511' '1659' '1739' '1894' '2206' '1752' '1824' '1772'
 '995' '1381' '1346' '1603' '950' '1732' '1583' '2085' '2760' '1721'
 '2093' '1377' '1474' '1781' '1985' '2905' '1534' '2590' '2513' '1122'
 '1910' '1834' '1316' '1306' '890' '2123' '806' '2184' '2425' '1378'
 '1994' '1086' '1456' '1832' '870' '1533' '1554' '1709' '1571' '2570'
 '780' '1703' '1347' '786' '2153' '1411' '2450' '891' '2370' '1768' '1025'
 '2583' '1905' '1119' '1979' '1403' '1853' '1656' '1989' '1233' '795'
 '1674' '2100' '1484' '2068' '1178' '1299' '2365' '1953' '2227' '2585'
 '1663' '1567' '1646' '2745' '1939' '1611' '2492' '1921' '1399' '1221'
 '1552' '2' '1402' '2635' '2079' '2027' '1706' '2217' '1936' '2509' '1145'
 '1661' '1268' '1797' '2145' '1193' '1392' '1529' '1366' '1657' '1903'
 '2448' '2275' '1431' '1293']
no_of_owners [ 2  6  1  3 -1  5  4]
mileage [ 80000 149000  84000 ... 150256  28414 158400]
price [  52800  105800   55800 ...   66600  118900 1068800]

listing_id         object
url                object
make               object
model              object
manufactured        int64
type_of_vehicle    object
power               int64
engine_cap          int64
curb_weight         int64
no_of_owners        int64
mileage             int64
price               int64
dtype: object

After preprocessing, there are now 14238 records.

### 1.2 Handling Missing (NaN) Values (6 Points)

Many traditional data mining algorithms do not like missing (NaN) values and will throw an error if missing values are present. We therefore have to address missing values and get rid of them. On the other hand, we want to preserve as much of our dataset as possible, so we need to be smart about that. In this subtask, you are provided with a version of our used cars resale dataset that contains missing values but is otherwise clean -- so it is all about the `NaN` values here.

Let's load the dataset and have a quick look -- the attributes are the same as before:

In [ ]:
df_cars_nan = pd.read_csv('data/a1-used-cars-resale-nan.csv')

df_cars_nan.head()

Since your decision for handling `NaN` values might depend in the data mining task, assume in the following that you want to use this dataset to **create a regression model to predict the resale price** from the attributes of a transaction. Of course, there will be no need to actually create such a model here.

**Task 1: Identify all `NaN` values in the dataset and handle them appropriately!** After this preprocessing, the resulting dataset should no longer contain any `NaN` values. Please provide your answer in the markdown cell below list all issues concerning `NaN` values and how you would handle them with a brief justification for your approach. Additional (simplifying) guidelines:

* The goal is to preserve as many records in the dataset as possible.
* You do not need to consider external knowledge (i.e., information coming from outside this dataset)
* Ignore more sophisticated solutions such as [`sklearn.impute.KNNImputer`](https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html). These can be very useful in practice (and maybe for your project), but their application requires certain assumptions to hold for good results. This is beyond the scope of this assignment.

**Your Answer:**

**Task 2: Complete the method `handle_nan` in the `.py` file to actually implement your steps for handling `NaN` values!** The results should back up your answer above. Hint: Try to use methods/functionalities provided by `pandas` as much as possible; it will make your code much shorter, faster and your life easier. We will run performance checks for this method to evaluate the runtime, but the performance is not considered for the grading!

In [ ]:
df_cars_no_nan = handle_nan(df_cars_nan)

print('After handling missing values, there are now {} records.'.format(df_cars_no_nan.shape[0]))
print('Number of records with an NaN for any attribute: {}'.format((df_cars_no_nan.isna().sum(axis=1) > 0).sum()))

### 1.3 Other Appropriate Data Cleaning / Preprocessing Steps (6 Points)

Identifying "dirty" records and missing data are two very fundamental and generally rather systematic steps as part of data cleaning / data preprocessing. However, as we saw in the lecture using some examples, there are many other issues with the dataset that can be considered noise and thus potentially negatively affecting any data analysis. So the more noise we can remove, the more likely we can expect meaning analysis results.

For this subtask, we use a version of our Used Cars Resale dataset **with no "dirty" records or missing data**! Note that this dataset has a few more attributes: `eco_category`, `transmission`, and `reg_date` (registration date). Let's have a look:

In [ ]:
df_cars_others = pd.read_csv('data/a1-used-cars-resale-other.csv')

df_cars_others.head()

#### 1.3 a) Appropriate Steps (4 Points)

**List at least 4 data cleaning / data preprocessing steps you deem appropriate to apply to the dataset above!** Please provide your answer in the markdown cell below list all steps together with a justification for your decision. Additional (simplifying) guidelines:

* You should still assume that we want to use this dataset to create a model for predicting the resale price of a flat based on its attributes. The choice of data mining task is very likely to affect your decision for what cleaning / preprocessing steps to apply.
* There is no need to consider external knowledge. For example, you do not have to check if a value for `model` is indeed an existing car model.
* Please do not address the concept of attribute encoding -- that is, the encoding of categorical attributes as numerical attributes -- in this subtask. This comes later.
* There is no need for you to implement any processing steps! Most important are your justifications for your decisions.

**Your Answer:**

#### 1.3 b) Additional Considerations (2 Points)

So far, we handled "dirty" records, missing values, and other types of (arguably) straightforward EDA/preprocessing steps. This means that we performed important steps towards ensuring a minimum level of data quality to, in turn, enable a successful data analysis and meaningful results. However, this does not mean that our dataset is now free of any noise.

**Briefly discuss what other kind of noise our dataset might still contain?** Include a brief explanation if and how we could identify and handle these instances of noisy data -- if possible in a meaningful way. There is no need to analyze and check the dataset to find any examples. This question is mainly to motivate some additional thinking.

**Your Answer:**

### 1.4 Handling Categorical Attributes (4 Points)

Many to most data mining algorithms require all input features / attributes to be numerical. Our dataset with transactions resales of condo flats contains attributes that are not all numerical. As such, assuming we indeed want to utilize them, we need to convert those attributes into numerical ones. Regarding encoding techniques, we covered [One-Hot Encoding](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) in the lecture, and also talked about [Target Encoding](https://contrib.scikit-learn.org/category_encoders/targetencoder.html) in the tutorial; you can and should also look into other encoding techniques.

For this task, we assume the same dataset file used in 1.3 (`a1-used-cars-resale-others.csv`).

**Briefly(!) discuss how you would handle each categorical attribute and justify why!** Handling a categorical attribute means
* to drop a categorical attribute *or*
* to encode it into a numerical representation *or*
* to otherwise transform it into a numerical attribute

There is no single correct answer for this task; it's your justification that matters. Again, assume that we want to create a regression model to predict the resale price of a flat based on the other features.

**Your Answer:**

### 1.5 Basic Facts about a Real-World Dataset (8 Points)

The following tasks are about getting basic insights into the Used Cars Resale Prices dataset. As the data preprocessing steps you choose to perform might affect the results of this task, we will use a different dataset file here. Note that this file also contains 15,000 listings of used cars but does **not** contain any "dirty" records. This is to ensure that everyone uses the same data.

If you think this data file may contain "dirty" records, you can safely ignore them. Please do not modify the data for this task!

In [ ]:
df_cars_facts = pd.read_csv('data/a1-used-cars-resale-facts.csv')

df_cars_facts.head()

**Please complete the table below by answering the 8 given questions!** Use the code cell below the table to actually implement your steps that enabled you to answer the questions. There is no need for a fancy layout for any print statement; it's only important that the result is clear.

This is a markdown cell. Please fill in your answers for (1)~(8).

| No. | Question                                                                                               	| Answer   	|
|-----|------------------------------------------------------------------------------------------------------------|--------------|
| 1)  | What are the lowest and the highest prices for which a car has been sold?   | **???**   |
| 2)  | How many different car makes are in the whole dataset? |  **???**  |
| 3)  | How many Toyota Corolla (manufactured before 2010) have been sold?  |  **???**  |
| 4)  | What are the top-3 most sold car makes (give the car make and the number of sales)? |  **???**  |
| 5)  | Which SUV car model has been sold the most (give the model and the number of sales)? |  **???**   |
| 6)  | Which car make generated the highest overall sale when only considering low-powered cars, i.e., with power $ \leq$ 60 (give the car make and the total sale)? | **???**   |
| 7)  | Which midsize sedan has the highest *power-to-engine_cap* ratio (give, the make, model, year of manufacturing, and power-to-engine_cap ratio (2 decimal precision))? |  **???**  |
| 8)  | What is the correlation between the resale *price* and *mileage*, and between resale *price* and *engine_cap*? Use the Pearson correlation as metric. | **???**  |

**Complete the method `extract_facts` in the `.py` file to actually extract the facts!** The results should back up your answer above. Hint: Try to use methods/functionalities provided by `pandas` as much as possible; it will make your code much shorter, faster and your life easier. We will run performance checks for this method to evaluate the runtime, but the performance is not considered for the grading!

**Note:** You can simply use simple print statements that somehow show the result you entered into the table above. You do not have to ensure any specific output. It should only *somehow* be possible to match the answers you have added to the table above to the output of the code cell.

In [ ]:
extract_facts(df_cars_facts)

---

# 2 K-Means

The K-Means algorithm is a fundamental technique in unsupervised machine learning aimed at categorizing data points into distinct clusters. The primary objective is to partition a dataset into K clusters based on similarities among data points. The algorithm operates through several steps:

* **Initialization:** Begin by selecting the desired number of clusters, K. Initialize K centroids randomly, representing the cluster centers.

* **Assignment:** Each data point is assigned to the nearest centroid, establishing initial clusters.

* **Update:** Recalculate the centroids of the clusters using the mean of data points within each cluster.
ments are consistent.

The algorithm repeatedly performs the assignment and update steps for a set number of iterations or until the centroids no longer shift significantly. The algorithm converges when centroids stabilize, indicating that cluster assignments are consistent. At the end of the process, data points are grouped into K clusters, with each cluster defined by its centroid. K-Means has applications across diverse fields, such as customer behavior analysis, image segmentation, and recommendation systems. However, it's sensitive to the initial centroid placement and assumes clusters are spherical and equally sized, which can affect its performance.

### 2.1 Performing K-Means "By Hand" (4 Points)

The plot below shows a toy dataset of 15 data points labeled A, B, C, ..., O.

<img src="data/a1-kmeans-data.png">

#### 2.1 a) Find Clusters for K=3 (2 Points)

Perform K-Means with K=3 on the data, taking points C, H, and M as the initial cluster centers! At the end of each iteration, list the positions of the cluster centers, as well as the set of points belonging to each cluster. There is no need for you to implement anything here.

**Your Answer:**

#### 2.1 b) Evaluate the Result (2 Points)

Do you think this clustering result is satisfactory? Briefly discuss your answer!
 
 **Your Answer:**

### 2.2 Initializing Centroids (10 Points)

As we learned in the lecture, K-Means is rather sensitive to the initialization of the clusters. The most common initialization method is **K-Means++** (see lecture slides). Note that K-Means++ is non-deterministic as it picks the next based on probabilities depending on the distances between the data points and the existing clusters. You will implement the K-Means++ initialization in this task.

Consider another heuristic **MaxDist** which is very similar to K-Means++, which picks the next centroid as the data point which is farthest away from its currently nearest existing centroid. -- In fact, some of you in the lecture have asked why we not simply do this instead of picking points with some randomness -- More formally, given a pick for the first centroid $c_1$, all following centroids $c_k$ for $k=2,...,K$ are defined as:

$$
c_k = \underset{x\in X}{\mathrm{argmax}} \left( \underset{i=1,...,k-1}{\mathrm{min}}||x - c_i||_2 \right)
$$

where $X$ is the set of all data points. Appreciate that $\underset{i=1,...,k-1}{\mathrm{min}}||x - c_i||_2$ is also part of K-Means++, only instead of picking with some randomization we always pick the point with the largest distance.

For testing your implementation in the following, we use the dataset that generated the figure above in 1.1. The data points are in the order that $A=X[0]$, $B=X[1]$, $C=X[2]$, ..., $N=X[13]$, $O=X[14]$. This will make the interpretation of the results easier.

In [ ]:
X = np.array([[-4,1], [-2,1], [0,1], [2,1], [4,1],
              [-4,0], [-2,0], [0,0], [2,0], [4,0], 
              [-4,-1], [-2,-1],  [0,-1], [2,-1], [4,-1]])

#### 2.2 a) Implement Initialization of Centroids (6 Points)

Implement the method `kmeans_init()` in the `.py` file to calculate the initial centroids based on the two approaches "K-Means++" and "MaxDist"! Since both approaches are quite similar, this can easily be done in the same method. Note that `kmeans_init()` allows you to specify the first centroid manually. This is very useful for testing and interpreting the results later. Note that the method should return the indices of the respective data points chosen as centroids and not the actual data points.

Hint: We already imported the method `euclidean_distances` for you to use, and you can always use anything provided by `numpy`.

The code cell allows you to check your code.

In [ ]:
centroids = kmeans_init(X, 3, c1=0, method='maxdist')
#centroids = kmeans_init(X, 3, c1=0, method='kmeans++')

print('Centroids:')
print(centroids)

For `method='maxdist'` the output should be as follows:

```
Centroids:
[ 0 14  7]
```

This output should match since we set the data point at index `0` as the first centroid, and the "MaxDist" method is deterministic. When using `method='kmeans++'`, the output will differ when executing the code cell multiple times, although the first centroid in the list should always be Index `0`, of course.

#### 2.2 b) Interpreting MaxDist Initialization

We provide you with a method `plot_centroid_distributions` (check `src/utils.py` for the details on the input parameters) to visualize the process of picking all centroids, given a manually chosen first centroid. `plot_centroid_distributions` executes your implementation of `initialize_centroids` multiple times specified by the input parameter `num_runs`. During this process, the method counts the number of times each data point (i.e., its index $0..14$) was picked for $c_2$, ..., $c_k$ (we use K=3 throughout this section). This gives you a distribution of how often a data point was selected as centroid, and plots it as a bar chart. Of course, since we specify the first centroid $c_1$ as an input parameter, the distribution for $c_1$ is always a single bar with a height of `num_runs`.

Run `plot_centroid_distributions` using the method **MaxDist** using the code below. The number of clusters is K=3 and the index of the first cluster is 0 (i.e., data point $A$). If the results are unclear, you can increase the value of `num_runs`. Explain the results, discuss whether they meet your expectations of the method **MaxDist**, and discuss if the result is unique! Use the markdown cell below the plots.

In [ ]:
plot_centroid_distributions(kmeans_init, X, 3, 0, method='maxdist', num_runs=100)

**Your Answer:**

#### 2.2 c) Interpreting KMeans++ Initialization (2 Points)

Run `plot_centroid_distributions` using the method **K-Means++** using the code below! The number of clusters is K=3 and the index of the first cluster is 0 (i.e., data point $A$). If the results are unclear, you can increase the value of `num_runs`. Explain the results and discuss whether they meet your expectations of the method **K-Means++**! Use the markdown cell below the plots.

In [ ]:
plot_centroid_distributions(kmeans_init, X, 3, 0, method='kmeans++', num_runs=100)

**Your Answer:**

### 2.3 Questions about K-Means (6 Points)

#### 2.3 a) Empty Cluster (3 Points)

**Outline all situations where K-Means may return at least 1 empty cluster!** To address this task, please make the following assumptions:
* The number of samples $N$ in the dataset is $N > 0$
* The number of clusters $K$ when running K-Means is $K \geq 2$
* The initialization of the initial centroids can be arbitrary good or bad

**Your Answer:**

#### 2.3 b) Outlier Detection (3 Points)

Recall the K-Means results in clusterings that are complete, i.e., each data point is assigned to a cluster. In contrast, DBSCAN has the notion of noise, i.e., points that are not part of any cluster, which can be used to identify outliers (see also Task 2). Now let's assume we want to identify outliers in a dataset but only have an implementation for K-Means available.

**Describe how we can use K-Means to identify outliers!** Since the notion of outliers is not well defined, it's not about having a fool-proof solution but to make a well-informed decision to limit the set of data points that are potential outliers.

**Your Answer:**